h1, h2, span, p, i, a, blockquote {

    color: rgb(240, 240, 240);

}

.artopt, .artopt button, .artopt select, .rule {
    border: 3px solid rgba(240, 240, 240, 1);
    color: rgb(240, 240, 240);
}

.artopt label {
    color: rgb(240, 240, 240);
}

input[type="text"], input[type="number"] {
    border-bottom: 3px rgb(240, 240, 240) solid;
    color: rgb(240, 240, 240);
}

input[name="link"] {
    color: #1d1d1d;
}

button {
    background-color: rgb(240, 240, 240);
    color: #000;
}