@font-face {
  font-family: 'Abel-Regular';
  src: url('Abel-Regular.eot?#iefix') format('embedded-opentype'),  url('Abel-Regular.woff') format('woff'), url('Abel-Regular.ttf')  format('truetype'), url('Abel-Regular.svg#Abel-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('Calibri.eot?#iefix') format('embedded-opentype'),  url('Calibri.woff') format('woff'), url('Calibri.ttf')  format('truetype'), url('Calibri.svg#Abel-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

