#list {
    height: auto;
    position: fixed;
    background-color:  rgb(49, 49, 49);
    left: 0;
    top: 20px;
    width: 220px;
    overflow-y: scroll;
    list-style-type: none;
}
.nothing {
    font-size: 1.5em;
    padding-left: 35px;
}
.item {
    border: solid 3px rgb(34, 34, 34);
    border-radius: 10px;
    width: 180px;
    margin-left: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 7px; 
    margin-top: 10px; 
    cursor: pointer;
    background-color:  rgb(49, 49, 49);
    transition: all 0.3s;
}
.item:hover {
    background-color:  rgb(34, 34, 34);
}
.item span {
    color: rgb(236, 236, 236);
    display: block;
    font-size: 1.15em;
    text-overflow: ellipsis;
    overflow: hidden; 
    height: 1.3em; 
    white-space: nowrap;
    cursor: pointer;
}
.item i {
    color: rgb(202, 202, 202);
    display: block;
    font-size: .8em;
    text-overflow: ellipsis;
    overflow: hidden; 
    height: 1.3em; 
    white-space: nowrap;
    cursor: pointer;
}
.item i img {
    height: 14px;
    position: relative;
    top: 2px;
    margin-right: 3px;
    cursor: pointer;
}

#item_clicked {
    background-color:  rgb(34, 34, 34);
}

#drawer {
    bottom: 0;
    left: 0;
    width: 220px;
    background-color:  rgb(43, 43, 43);
    height: 70px;
    position: fixed;
}
#drawer span {
    color: rgb(43, 43, 43);
    padding: 3px;
    position: relative;
    top: 25px;
    left: 38px;
    border-radius: 5px; 
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    transition: background-color 0.3s;
}
#drawer span:hover {
    background-color: rgb(255, 255, 255);
}

#amount {
    position: relative;
    top: 30px;
    left: 105px;
    background-color: rgb(162, 0, 255);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: .5em;
    color: #fff;
}
.amountList {
    position: relative;
    top: 20px;
    left: 190px;
    background-color: rgb(162, 0, 255);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: .5em;
    color: #fff;
}

#topOpt {
    padding: 20px;
}
#topOpt span {
    color: rgb(233, 233, 233);
    margin-left: 15px;
    padding: 5px;
    border-radius: 10px;
    border: solid 3px rgb(34, 34, 34);
    background-color:  rgb(49, 49, 49);
    transition: all 0.3s;
    cursor: pointer;
}
#topOpt span:hover {
    background-color: rgb(34, 34, 34);
}

#topOpt span img {
    position: relative;
    top: 5px;
    cursor: pointer;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}