* {
    border: 0;
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    height: inherit;
    background-image: url(../img/gradient.png);
    background-size: auto 600%;
    background-attachment: fixed;
    background-position: 50%;
    background-color: rgba(255, 255, 255, .96);
}
#container {
    padding-top: 30px;
    padding-left: 190px;
}
#containerOb {
    padding-top: 30px;
}
h1, span, p, i {
    font-family: 'Abel-Regular', sans-serif;
}
#menuC {
    position: fixed;
    width: 100%;
    background-color: rgb(49, 49, 49);
}
#menuC h1 {
    position: fixed;
    top: 0;
    left: 3px;
    font-size: .9em;
    color: rgb(235, 235, 235);
}
#menu {
    background-color: rgb(49, 49, 49);
    width: 90%;
    height: 20px;
    -webkit-app-region: drag;
}
.menuOpt {
    width: 20px;
    height: 20px;
    float: right;
    color: #fff;
    z-index: 100;
    position: fixed;
    top: 0;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.menuOpt:hover {
    background-color: rgb(26, 26, 26);
}
.break {
    height: 50px;
}
#minimize {
    right: 40px;
}
#maximize {
    right:20px;
}
#ex {
    right: 0;
    top: -1px !important;   
    font-family: Calibri;
}
#ex:hover {
    background-color: rgb(230, 25, 66) !important;
}

#rcl {
    width: 100px;
    height: 200px;
    position: fixed;
    display: none;
    border: 3px solid rgba(230, 25, 66, 0);
    border-radius: 1em;
    z-index: 1000;
}
#rcl-back {
    width: 1000em;
    height: 1000em;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(34, 34, 34, 0);
}

.bottom {
    border-bottom: solid 3px rgb(49, 49, 49);
    width: 100%;
    position: fixed;
    bottom: 0;
}

#drop {
    position: fixed;
    background-color: rgb(34, 34, 34);
    width: 100px;
    height: 20px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    right: 0;
    top: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100;
}
#drop span {
    text-align: center;
    color: #fff;

}
#drop:hover {
    background-color: rgb(20, 20, 20);
}
#drop-menu {
    height: 0;
    position: fixed;
    width: 100px;
    top: 20px;
    z-index: 50;
    right: 0;
    transition: all 0.3s;
    overflow: hidden;
}
#drop-back {
    height: 180px;
    width: 100px;
    background-color: rgb(49, 49, 49);
    font-size: 1em;
    text-align: center;
    padding-top: 10px;
}
#drop-back span {
    cursor: pointer;
    width: inherit;
    color: #fff;
    transition: all 0.3s;
    display: block;
}
#drop-back span:hover {
    color: rgb(230, 25, 66);
}
#drop-back hr {
    border-bottom: rgba(255, 255, 255, 0.479) 1px solid;
    margin-top: 8px;
    margin-bottom: 8px; 
}

::-webkit-scrollbar-track {
    background-color: rgb(49, 49, 49);
}

::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.6);
}