* {
    border: 0;
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: default;
}
body {
    height: inherit;
    background-image: url(../img/gradient.png);
    background-size: auto 600%;
    background-attachment: fixed;
    background-position: 50%;
    background-color: rgba(255, 255, 255, .96);
    padding-top: 20px;
}
#container {
    padding-top: 60px;
    left: 250px;
    padding-bottom: 70px;
    padding-right: 20px;
    position: fixed;
    overflow-y: scroll;
}
#container h2 * {
    font-size: 2.3em;
    font-weight: bold;
}
#container h2 {
    padding-bottom: 50px;
}
#containerOb {
    padding-top: 30px;
}
h1, h2, span, p, i, a, blockquote {
    font-family: 'Abel-Regular', sans-serif;
}
#menuC {
    position: fixed;
    width: 100%;
    background-color: rgb(49, 49, 49);
    margin-top: -20px;
}
#menuC h1 {
    position: fixed;
    top: 0;
    left: 3px;
    font-size: .9em;
    color: rgb(235, 235, 235);
}
#menu {
    background-color: rgb(49, 49, 49);
    width: 90%;
    height: 20px;
    -webkit-app-region: drag;
}
.menuOpt {
    width: 20px;
    height: 20px;
    float: right;
    color: #fff;
    z-index: 100;
    position: fixed;
    top: 0;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.menuOpt:hover {
    background-color: rgb(26, 26, 26);
}
.break {
    height: 50px;
}
#minimize {
    right: 40px;
}
#maximize {
    right:20px;
}
#ex {
    right: 0;
    top: -1px !important;   
    font-family: Calibri;
}
#ex:hover {
    background-color: rgb(230, 25, 66) !important;
}

#rcl {
    width: 100px;
    height: 200px;
    position: fixed;
    display: none;
    border: 3px solid rgba(230, 25, 66, 0);
    border-radius: 1em;
    z-index: 1000;
    overflow: hidden;
}

#rcl a {
    display: block;
    cursor: pointer;
    color: rgb(230, 25, 66);
    background-color: rgbargb(230, 25, 66, 0);
    transition: all 0.3s;
    padding: 8px;
    border-bottom: 1px solid rgb(230, 25, 66);
}
#rcl a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(230, 25, 66, 1);
}

#rcl-back {
    width: 1000em;
    height: 1000em;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(34, 34, 34, 0);
}

.bottom {
    border-bottom: solid 3px rgb(49, 49, 49);
    width: 100%;
    position: fixed;
    bottom: 0;
}

#drop {
    position: fixed;
    background-color: rgb(34, 34, 34);
    width: 100px;
    height: 20px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    right: 0;
    top: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100;
}
#drop span {
    text-align: center;
    color: #fff;
    cursor: pointer;
}
#drop:hover {
    background-color: rgb(20, 20, 20);
}
#drop-menu {
    height: 0;
    position: fixed;
    width: 100px;
    top: 20px;
    z-index: 50;
    right: 0;
    transition: all 0.3s;
    overflow: hidden;
}
#drop-back {
    height: 180px;
    width: 100px;
    background-color: rgb(49, 49, 49);
    font-size: 1em;
    text-align: center;
    padding-top: 10px;
}
#drop-back span {
    cursor: pointer;
    width: inherit;
    color: #fff;
    transition: all 0.3s;
    display: block;
}
#drop-back span:hover {
    color: rgb(230, 25, 66);
}
#drop-back hr {
    border-bottom: rgba(255, 255, 255, 0.479) 1px solid;
    margin-top: 4px;
    margin-bottom: 4px; 
}

.article {
    border: 3px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    transition: all 0.3s;
    height: 300px;
    text-overflow: ellipsis;
    overflow: hidden; 
    box-shadow: inset 0px -130px 200px -100px black;
    margin-bottom: 40px;
    max-width: 1200px;
}

.article:hover {
    border: 3px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
}
.artitle{
    font-weight: bold;
    cursor: pointer;
    font-size: 2em;
}
.artfeed {
    cursor: pointer;
    font-size: 1.35em;
    display: inline-flex;
}
.artfeed b {
    cursor: pointer;
}
.artfeed img {
    height: 16px;
    width: 16px;
    margin-top: 6px !important;
    margin-left: 7px;
    cursor: pointer;
}
.artdate {
    cursor: pointer;
    font-size: .9em;
    display: block;
    font-weight: bold;
    margin-top: -8px;
    padding-bottom: 25px;
}
.article blockquote {
    cursor: pointer;
    font-size: 1.2em;
}
.article blockquote * {
    font-size: inherit !important;
    position: initial !important;
    font-weight: normal !important;
}
.article img {
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    max-width: 100%;
    border-radius: 10px;
    display: block;
    text-align: center;
}
.clickeda, .clickeda * {
    cursor: default !important;
}
.clickeda {
    border: 3px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
}
.article blockquote * {
    cursor: pointer;
}
.clickeda blockquote * {
    cursor: default;
}
.artopt {
    border-radius: 10px;
    display: none;
    margin: 50px auto;
    width: 480px; 
    padding: 10px;
    border: 3px solid #000;
}
.artopt label {
    padding: 27px;
}
.artopt * {
    font-family: 'Abel-Regular', sans-serif;
    font-size: 1em;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}
.artopt button, .artopt select {
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer !important;
    border: 3px solid #000;
    transition: all 0.3s;
}
.artopt button:hover, .artopt select:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.unread:active {
    background-color: rgba(0, 0, 0, 0.4);
}
.artup {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: none;
}
.artup img {
    width: 30px;
    height: 30px;
    cursor: pointer !important;
    margin: auto;
}

.linked {
    padding-left: 10px;
    color: #64a6f1;
    border-left: #64a6f1 solid 3px;
    cursor: pointer !important;
    transition: all 0.3s;
    border-radius: 0;
    padding-right: 8px;
}
.linked p {
    color: #707070;
    font-size: .5em;
    display: inline;
    margin-left: 5px;
}
.linked:hover {
    color: #fff;
    background-color: #64a6f1;
    border-radius: 10px;
}
.linked:hover p {
    color: rgb(230, 230, 230);
}

.hrefed, .hrefed * {
    cursor: pointer !important;
    color: #4088da;
    transition: all 0.3s;
}
.hrefed:hover, .hrefed *:hover {
    color: #1e4879;
}

.yt {
    text-align: center;
}
.yt * {
    margin: 30px auto;
    position: relative !important;
    z-index: -100;
}

.imgpr div {
    cursor: pointer !important;
    margin: auto;
    width: 480px;
    height: 270px;
    overflow: hidden;
    border-radius: 1em;
    
}
.imgpr div img {
    width: 480px;
    height: 360px;
    margin-top: -45px;
    position: relative !important;
    z-index: -100;
    cursor: pointer !important;
}

#scrollTo {
    text-align: center;
    padding-top: 30px;
}


::-webkit-scrollbar-track {
    background-color: rgb(49, 49, 49);
}

::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 1);
}